//@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
//@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic);
@import "settings";

body{
  padding: 0;
  font-family: "Istok Web", "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url(../images/bg.png);
  background-attachment:fixed;
}

.page{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&amp;0+48,0.65+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 48%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(48%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  background-attachment:fixed;
}

a{
  transition: all 0.22s ease-in-out;
}

.page-border{
  -webkit-box-shadow: 0 0 25px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 25px rgba(0,0,0,1);
  box-shadow: 0 0 25px rgba(0,0,0,1);
  background-color: white;
}



// MAIN NAVIGATION
.navbar{
  background-color: $brug-blue;
  border-top: 10px solid white;
  border-bottom: 10px solid black;
  color: white;
  margin-bottom: 0px;


  .navbar-nav{
    & > li {
      & > a {
        color: white;
        font-size: 18px;
        font-weight: 200;
        z-index: 999;
        //font-family: "Oswald";

        &:hover{
          //background: lighten($brug-blue, 10);
          background: transparent;
        }
      }

      &.current_page_item{
        a{
          //background: lighten($brug-blue, 10);
        }
      }

    }



    #magic-line {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100px;
      height: 10px;
      background: white;
    }

    #magic-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      background: lighten($brug-blue, 10);
      z-index: 100;
    }


  }
}

#navigation-links{
  position: relative;
}


.navbar-brand-img{
  height: 90px;
  position: absolute;
  top: -5px;
  margin-left: 10px;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.scrollable{
  position: relative;
  top: 0px;

  .navbar-brand-img{
    height: 120px;
    top: -50%;
    margin-left: 0px;
  }
}

// HEADER NAVIGATION BUTTONS

.socialbuttons{
  padding-top: 10px;
  background-color: white;
  .box{
    height: 24px;
    margin-left: 10px;
    font-size: 12px;
    color: white;
    transition: all 0.22s ease-in-out;

    a{
      color: white;
      text-decoration: none;
      line-height: 24px;
      padding: 0 10px;
      font-family: "Istok Web";
    }
  }

  .box-twitter{
    background: $twitter;
    &:hover{
      background: lighten($twitter, 10);
    }
  }

  .box-facebook{
    background: $facebook;
    &:hover{
      background: lighten($facebook, 10);
    }
  }
}

header.carousel{
  height: 75%;
}

// OWL CAROUSEL
.owl-carousel{
  position: relative;
  margin-bottom: 40px;

  .owl-controls{
    margin-bottom: 10px;

    .owl-nav{
      & > div {
        display: block;
        position: absolute;
        top: 50%;
        background-color: transparent !important;
        margin: 0px 10px 0px 10px;
        color: white;
        opacity: 1;
        margin-top: -50px !important;

        .fa{
          font-size: 90px;
          text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
        }


        &.owl-prev{
          left: 0px;

        }
        &.owl-next{
          right: 0px;

        }
      }
    }

    .owl-dots{
      margin-bottom: 10px;
      position: absolute;
      width: 100%;
    }
  }

}

// PANELS
.panel{
  .panel-heading{
    font-family: "Oswald";
    background: darken($brug-blue, 10);
    color: white;
  }

  .panel-body{
    border-bottom: 1px solid #ddd;

    &:last-child{
      border-bottom: none;
    }

    h4{
      margin-top: 0px;
      font-family: Oswald;
      font-weight: 400;
      font-size: 17px;
    }

    .panel-body-link{
      color: #333;
    }

    .panel-body-date{
      float: right;
      background-color: $brug-gray;
      color: white;
      padding: 8px;
      font-family: Oswald;
      font-weight: 700;
      margin-left: 12px;
      position: relative;

      span{
        display: block;
        text-align: center;

        &.day{
          font-size: 18px;
        }

        &.month{
          font-size: 15px;
        }
      }

      &:after{
        content: "";
        display: block;
        width: 100%;
        height: 0;
        border-right: 37px solid $brug-gray;
        border-bottom: 15px solid transparent;
        border-bottom-color: rgba(0,255,0,0);
        position: absolute;
        right: 0px;
        bottom: -15px;
      }
    }

    .panel-body-score{
      float: right;
    }

    .panel-body-next-match{
      margin-top: 15px;
      display: table;
      width: 100%;

      & > div{
        display: table-cell;
        width: 33.33%;
        text-align: center;

        img{
          width: 74%;
        }

        h5{
          margin-bottom: 0px;
        }

        &.divider{
          font-size: 18px;
          //font-weight: 600;
        }
      }
    }
  }
}

footer{
  margin: 0px;
}

// HEADINGS
h2{
  &.page-header{
    font-family: "Oswald";
  }
}

// Players
.home-player{
  &:hover{
    img{
      //opacity: 0.5;
    }

    .number{
      opacity: 0.7;
    }
  }

  img{
    position: relative;
    transition: all 0.22s ease-in-out;
    box-shadow: #000 0 0 0;


  }
  h5{
    text-decoration: none;
    color: #333;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255,255,255,0.8);
    padding: 9px;
    width: 100%;
    margin: 0;
    font-size: 15px;
    text-align: center;
  }

  .number{
    display: inline-block;
    position: absolute;
    top: 0;
    font-family: Oswald;
    font-size: 120px;
    vertical-align: middle;
    color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    text-align: center;
    transition: all 0.22s ease-in-out;
    padding-top: 10px;
  }
}

.player{
  position: relative;

  .player-image{
    padding-top: 120%;
    position: relative;
    height: 0;
    overflow: hidden;

    .player-image--img{
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: top;
      transition: all 0.22s ease-in-out;
    }
  }
  &:hover{
    .player-image--img{
      transform: scale(1.1);
    }
  }

  .caption{
    position: absolute;
    bottom: 20px;
    background: rgba(0,0,0,0.5);
    color: white;
    right: 4px;
    left: 4px;

    h3{
      margin: 0;
    }
  }

  .player-score{
    //text-align: left;
    font-size: 0.7em;
  }

  .red{
    color: red;
  }

  .yellow{
    color: yellow;
  }

  .black{
    color: #666;
  }
}